<!DOCTYPE html>
<head>
	<meta charset="utf-8">

	<title>Nabu</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="../../../public/stylesheet/style.css">
	<link rel="stylesheet" type="text/css" href="../../../public/stylesheet/simplegrid.css" />
	
</head>

<body>

<div id="wrapper">	

<div id="left">
<div id="sidebar">
  <div id="sidebar-cover"></div>
  <div id="sidebar-content">
       <div class="content">
        <img src="../../../public/img/PP_large_2.png" alt="ICI NOM PRENOM"><br>
        <span class="user-name">Prénom Nom</span>
        <div><span class="follow-number">000</span> followers</div>
        <div><span class="follow-number">000</span> following</div>
       </div>
       <div class="content">
        <h3>Derniers badges</h3>
        <img src="../../../public/img/badge.png" class="badges" alt="Badge description">
        <img src="../../../public/img/badge.png" class="badges" alt="Badge description">
        <img src="../../../public/img/badge.png" class="badges" alt="Badge description">
        <p><a href="#"> >> Voir tous mes badges</a></p>
       </div>
       <div class="content">
        <h2>Mon activité</h2>
        <span>Janvier 2014</span>
        <div><span class="follow-number">000</span> pages bookées</div>
        <div id="graph"><img src="../../../public/img/fictive_diagram.png" alt=""></div>
       </div>
    </div></div>
</div>

<div id="right">
<div class="grid grid-pad" id="top-content">
    <div class="col-7-12" id="logo">
      	<h1><a href="#"><img src="../../../public/img/temporary_logo.png" alt="Nabu"></a></h1>
      	<div id="search">
          <input type="text" name="search" placeholder="Rechercher un ami"><div><img src="../../../public/img/icons/loupe.svg"  class="icon-search" alt="Rechercher"></div>
        	<div><ul class="users-result"></ul></div>
        </div>
    </div>
	<div class="col-3-12" id="menu">
		<p><a href="#"><img src="../../../public/img/icons/user.svg" class="icon-menu" alt="Profil"></a> <a href="#"><img src="../../../public/img/icons/settings.svg" class="icon-menu" alt="Paramètres"></a><a href="#"><img src="../../../public/img/icons/power.svg" class="icon-menu" alt="Déconnexion"></a></p>
	</div>

</div>


  <div class="grid grid-pad">
    <div class="col-7-12">
       <div class="content" id="new-post">
	       	<img src="../../../public/img/PP_large_2.png" class="avatar-50" alt="">
	       	<div>
            <form name="post-article" action="#" method="get">
		       	<input type="text" name="url" placeholder="Insérez une URL pour ajouter un contenu"><br>
		       	<input type="text" name="descr" placeholder="Message accompagnant le contenu"><br>
		       	<div class="styled-select">
              <select name="category">
                <option value="catergory">Catégorie</option><!-- faire une boucle php avec les catégroies-->
      					<option value="volvo">Volvo</option>
      					<option value="saab">Saab</option>
      					<option value="fiat">Fiat</option>
      					<option value="audi">Audi</option>
      				</select>
            </div>
		       	<input type="submit" value="Publier">
		    </form>
		 </div>
     </div>
     <div class="content">
		 <div class="post-feed clearfix"><div class="tag"></div>
       		<p><a href="#" class="name">
	       		<img src="../../../public/img/PP_large.png" class="avatar-50" alt="">
	       		Prénom Nom </a>- il y a 2 minutes<br>
	       		Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>  
	       	</p>
       	</div>
       	<div class="post-feed clearfix"><div class="tag"></div>
       		<p><a href="#" class="name">
	       		<img src="../../../public/img/PP_large.png" class="avatar-50" alt="">
	       		Prénom Nom </a>- il y a 3 minutes<br>
	       		Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>  
	       	</p>
       	</div>
       	<div class="post-feed clearfix"><div class="tag"></div>
       		<p><a href="#" class="name">
	       		<img src="../../../public/img/PP_large_2.png" class="avatar-50" alt="">
	       		Prénom Nom </a>- il y a 4 minutes<br>
	       		Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp </a> 
	       	</p>
       	</div>
       	<div class="post-feed clearfix"><div class="tag"></div>
       		<p><a href="#" class="name">
	       		<img src="../../../public/img/PP_large.png" class="avatar-50" alt="">
	       		Prénom Nom </a>- il y a 5 minutes<br>
	       		Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>  
	       	</p>
       	</div>
		<div>

		</div>
       </div>
    </div>
    <div class="col-3-12">
      <div class="content">
        <h2>Suggestions</h2>
        <h3><img src="../../../public/img/icons/users_suggestions.svg" class="icon-titles" alt="">Utilisateurs</h3>
        <a href="#"><img src="../../../public/img/icons/sync.svg" class="icon-sync" alt=""></a>
        <div>
          <a href="#" class="name">
            <img src="../../../public/img/PP_large.png" class="avatar-45" alt="">
            Prénom Nom</a><br>
            Badge
            <a href="#" class="follow-button">Suivre</a>
        </div>
        <div>
          <a href="#" class="name">
            <img src="../../../public/img/PP_large_2.png" class="avatar-45" alt="">
            Prénom Nom</a><br>
            Badge
            <a href="#" class="follow-button">Suivre</a>
        </div>
        
        <h3><img src="../../../public/img/articles.png" class="icon-titles" alt="">Articles</h3>
        <a href="#"><img src="../../../public/img/icons/sync.svg" class="icon-sync" alt=""></a>
        <div>         
            Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>
        </div>
        <div>         
            Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>
        </div>
       </div>
       <div class="content">
        <h2>Objectifs<a href="#"><img src="../../../public/img/icons/sync.svg" class="icon-sync" alt=""></a></h2>
        <div class="obj-progress"><img src="../../../public/img/PP_large.png" class="avatar-35" alt=""> barre progression <img src="../../../public/img/badge.png" class="icon-35" alt="Badge description"></div>
        <p>Machin a relevé le défi :<br>
        <a href="#">Devenir Gamewatcher</a></p>
       </div>
       
    </div>
</div>

</div>

</div>

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</body>
</html>