<?php 
if(isset($badges_name) && $all==0):
//echo $nb_badges;
for($i=count($badges_array)-2; $i>=(count($badges_array)-$nb_badges-1); $i--){
?>
<img src="public/img/badges/<?php echo $badges_array[$i];?>.png" class="badges" alt="<?php echo $badges_name[$i];?>" title="<?php echo $badges_name[$i];?>">
<?php 
} 
endif; 
if(isset($badges_name)&& $all==1):
//echo count($badges_array);
for($j=count($badges_array)-2; $j>=0; $j--){
?>
<img src="public/img/badges/<?php echo $badges_array[$j];?>.png" data-badges="<?php echo count($badges_array)-1;?>" class="badges" alt="<?php echo $badges_name[$j];?>" title="<?php echo $badges_name[$j];?>">
<?php 
} 
endif;
?>
