<?php 
if(isset($getFeed)):
foreach($getFeed as $publi): 
?>
<div class="post-feed"><p><a href="http://<?php echo $publi->url_feed; ?>"><img src="public/img/PP_2.png" alt=""><?php echo $publi->author_feed; ?></a><?php echo $publi->date_feed; ?><br /><img src="//www.apercite.fr/api/apercite/120x90/yes/http://<?php echo $publi->url_feed; ?>" alt="Miniature par Apercite.fr" width="120" height="90" /></p></div>
<?php 
endforeach; 
endif;
?>


<?php 
if(isset($getFeedUser)):
foreach($getFeedUser as $publi): 
?>
<div class="post-feed"><p><a href="http://<?php echo $publi->url_feed; ?>"><img src="public/img/PP_2.png" alt=""><?php echo $publi->author_feed; ?></a><?php echo $publi->date_feed; ?><br /><img src="//www.apercite.fr/api/apercite/120x90/yes/http://<?php echo $publi->url_feed; ?>" alt="Miniature par Apercite.fr" width="120" height="90" /></p></div>
<?php 
endforeach; 
endif;
?>
