<?php 
if(isset($getFeed)):
foreach($getFeed as $publi): 
?>
		<div class="post-feed clearfix" data-postid="<?php echo $publi->post_id; ?>"><div class="tag"></div>
            <p><a href="<?php echo $publi->post_url; ?>" class="name">
              <img src="public/img/PP_large.png" class="avatar-50 avatar-feed" alt="">
              <?php echo $publi->login; ?></a> - <?php echo $publi->post_date; ?><br>
              <?php echo $publi->post_desc; ?> <a href="<?php echo $publi->post_url; ?>" class="post-link"><?php echo $publi->post_url; ?></a>  
            </p>
        </div>
<?php 
endforeach; 
endif;
?>

<?php
if(isset($getNewPosts)):
foreach($getNewPosts as $publi): 
?>
		<div class="post-feed clearfix" data-postid="<?php echo $publi->post_id; ?>"><div class="tag"></div>
            <p><a href="<?php echo $publi->post_url; ?>" class="name">
              <img src="public/img/PP_large.png" class="avatar-50 avatar-feed" alt="">
              <?php echo $publi->login; ?></a> - <?php echo $publi->post_date; ?><br>
              <?php echo $publi->post_desc; ?> <a href="<?php echo $publi->post_url; ?>" class="post-link"><?php echo $publi->post_url; ?></a>  
            </p>
        </div>
        
<?php 
endforeach; 
endif;
?>



<?php 
if(isset($getFeedUser)):
foreach($getFeedUser as $publi): 
?>
		<div class="post-feed clearfix"><div class="tag"></div>
            <p><a href="<?php echo $publi->url_feed; ?>" class="name">
              <img src="public/img/PP_large.png" class="avatar-50 avatar-feed" alt="">
              <?php echo $publi->author_feed; ?> </a>- <?php echo $publi->date_feed; ?><br>
              <br /><img src="//www.apercite.fr/api/apercite/120x90/yes/http://<?php echo $publi->url_feed; ?>" alt="" width="120" height="90" />
              Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="<?php echo $publi->url_feed; ?>" class="post-link">bit.ly/3lymOp</a>  
            </p>
         </div>
<?php 
endforeach; 
endif;
?>
