<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<base href="<?php echo $BASE; ?>/" />
	<title>Nabu</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="public/stylesheet/style.css">
	<link rel="stylesheet" type="text/css" href="public/stylesheet/simplegrid.css" />
	
</head>

<body>
<div id="wrapper">  

  <div id="left"><!-- LEFT PART -->
    <div id="sidebar"><!-- SIDEBAR -->
      <div id="sidebar-cover"></div>
      <div id="sidebar-content">
         <div class="content">
          <img src="public/img/PP_large_2.png" class="avatar-main" alt="<?php echo $_SESSION['login']; ?>"><br>
          <span class="user-name"><?php echo $_SESSION['login']; ?></span>
          <div><span class="follow-number" id="nb_followers">0</span> followers</div>
          <div><span class="follow-number" id="nb_following">0</span> following</div>
         </div>
         <div class="content" id="badges">
          <h3>Derniers badges</h3>
          
          <p><a href="#"> >> Voir tous mes badges</a></p>
         </div>
         <div class="content">
          <h2>Mon activité</h2>
          <span>Janvier 2014</span>
          <div><span class="follow-number" id="nb_posts">0</span> pages bookées</div>
          <div id="graph"><img src="public/img/fictive_diagram.png" alt=""></div>
          <a href="#" class="view-profile">Consulter le profil complet</a>
         </div>
      </div>
    </div><!-- END SIDEBAR -->
  </div><!-- END LEFT PART -->

  <div id="right"><!-- RIGHT PART -->
    <div class="grid grid-pad" id="top-content"><!-- GRID LOGO/SEARCH/MENU -->
      <div class="col-7-12" id="logo"><!-- LOGO AND SEARCHBAR -->
          <h1><a href="#"><img src="public/img/temporary_logo.png" alt="Nabu"></a></h1>
          <div id="search">
            <form action="users/search" method="post">
            <input type="text" name="name" placeholder="Rechercher un ami"><div><img src="public/img/icons/loupe.svg"  class="icon-search" alt="Rechercher"></div>
            </form>
            <div><ul class="users-result"><?php require('partials/users.html'); ?></ul></div>
          </div>
      </div><!-- END LOGO AND SEARCHBAR -->
      <div class="col-3-12" id="menu"><!-- MENU -->
        <p><a href="#"><img src="public/img/icons/user.svg" class="icon-menu" alt="Profil"></a> <a href="#"><img src="public/img/icons/settings.svg" class="icon-menu" alt="Paramètres"></a><a href="#"><img src="public/img/icons/power.svg" class="icon-menu" alt="Déconnexion"></a></p>
      </div><!-- END MENU -->
    </div><!-- END GRID LOGO/SEARCH/MENU -->

    <div class="grid grid-pad"><!-- GRID CONTENT -->
      <div class="col-7-12"><!-- CENTRAL COLUMN -->
         <div class="content" id="new-post"><!-- NEW POST -->
            <img src="public/img/PP_large_2.png" class="avatar-50" alt="">
            <div>
              <form name="post-article" id="post_article">
              <input type="text" name="url" id="url" placeholder="Insérez une URL pour ajouter un contenu"><br>
              <input type="text" name="descr" placeholder="Message accompagnant le contenu"><br>
              <div class="styled-select">
                <select name="category">
                  <option value="category">Catégorie</option><!-- faire une boucle php avec les catégroies-->
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="fiat">Fiat</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
              <input type="submit" value="Publier">
          </form>
       </div>
       </div><!-- END NEW POST -->
       <div class="content"><!-- FEED -->
          <section id="zone_post">
            <?php require('partials/feed_old.html'); ?>
          </section>
         </div><!-- END FEED -->
      </div><!-- END CENTRAL COLUMN -->

<div class="col-3-12"><!--  RIGHT COLUMN -->
        <div class="content">
          <h2>Suggestions</h2>
          <h3><img src="public/img/icons/users_suggestions.svg" class="icon-titles" alt="">Utilisateurs</h3>
          <a href="#"><img src="public/img/icons/sync.svg" class="icon-sync" alt=""></a>
          <div class="suggestion-user-wrapper">
            <div>
              <a href="#" class="name">
                <img src="public/img/PP_large.png" class="avatar-45" alt="">
                Prénom Nom</a><br>
                Badge
                <a href="#" class="follow-button">Suivre</a>
            </div>
          </div>
          <div class="suggestion-user-wrapper">
            <div>
              <a href="#" class="name">
                <img src="public/img/PP_large_2.png" class="avatar-45" alt="">
                Prénom Nom</a><br>
                Badge
                <a href="#" class="follow-button">Suivre</a>
            </div>
          </div>
          
          <h3><img src="public/img/articles.png" class="icon-titles" alt="">Articles</h3>
          <a href="#"><img src="public/img/icons/sync.svg" class="icon-sync" alt=""></a>
          <div class="suggestion-article-wrapper">
            <div class="suggestion-category"><span class="rond-category"></span></div>
            <div class="suggestion-article">         
                Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>
            </div>
          </div>
          <div class="suggestion-article-wrapper">
            <div class="suggestion-category"><span class="rond-category"></span></div>
            <div class="suggestion-article">         
                Pourquoi Facebook Paper est-il dangereux pour vos mains? <a href="#" class="post-link">bit.ly/3lymOp</a>
            </div>
          </div>
         </div> <!-- END CONTENT SUGGESTIONS -->
         <div class="content"><!-- CONTENT OBJECTIVES -->
          <h2>Objectifs<a href="#"><img src="public/img/icons/sync.svg" class="icon-sync" alt=""></a></h2>
          <div class="obj-progress"><img src="public/img/PP_large.png" class="avatar-35" alt=""> barre progression <img src="public/img/badge.png" class="icon-35" alt="Badge description"></div>
          <p>Machin a relevé le défi :<br>
          <a href="#">Devenir Gamewatcher</a></p>
         </div><!-- END CONTENT OBJECTIVES -->
         
      </div><!-- END RIGHT COLUMN -->

    </div><!-- END GRID CONTENT -->

  </div><!-- END RIGHT PART -->

</div>


	<script src="http://localhost:8080/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/nabu.js"></script>
  <script type="text/javascript" src="public/js/nabu_feed.js"></script>

</body>
</html>