<!doctype html>
<html lang="fr">
<head>
	<title>Nabu - Home</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="public/stylesheet/simplegrid.css" />
	<link rel="stylesheet" type="text/css" href="public/stylesheet/home.css" />
	<link rel="stylesheet" type="text/css" href="public/stylesheet/component.css" />
	<link rel="shortcut icon" href="public/img/favico.ico" />
	<script src="public/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script src="public/js/main.js"></script>
</head>

<body>

	<header>
		<h1><img src="public/img/logo_nabu.svg"/></h1>
		<a class="md-trigger" data-modal="modal-login">Se connecter</a>
	</header>
	
	<div id="banner">
		<div id="bannertext">
			<h1>Voici Nabu</h1>
			<p>Découvrez, partagez, devenez source de curiosité.</p>
		    <a class="md-trigger" data-modal="modal-signin">Essayer</a>
		</div>
	</div>

<!-- Grid 1/2 -->

	<section id="content">
		<section class="grid grid-pad">
			<article class="col-1-1">
				<h2>Concept</h2>
				<p>Nabu est un projet destiné à booster votre curiosité en vous incitant à partager du contenu web que vous jugez intéressant. Fixez-vous des objectifs pour </p>
			</article>
		</section>
	</section>

<section class="grid grid-pad">
	
	<article class="col-1-2">
		<h3>Nabu de pair avec Chrome </h3>
		<p>Obtenez le plugin Nabu pour Google Chrome prévu pour
		bookmarker les pages que vous intéressent. Vous pouvez aussi soumettre une page directement sur le site.</p>	
		<a href="#">Obtenir le plugin</a>
	</article>
	<aside class="col-1-2">
		<div id="chrome_tool"></div>
		<div id="chrome_plugin"></div>
	</aside>
	
	
	
	
	<aside class="col-1-2">	
		<div id="badges"></div>	
	</aside>
	<article class="col-1-2">
		<h3>Une identité bien définie</h3>
		<p>Nabu analyse les pages que vous avez booké. A partir de là, des objectifs vous sont proposées pour booster votre curiosité. Certains vous feront 		remporter des badges qui affirmeront votre personnalité. </p>	
	</article>
	
	
	
	<article class="col-1-2">
		<h3>Un dashboard à votre image</h3>
		<p>Votre dashboard devient le reflet de votre personnalité. En le visitant, les autres utilisateurs peuvent s’abonner à vos publications si vous avez des centres d’intérêt en commun. Nabu agit alors comme un boosteur de curiosité.</p>	
	</article>
	<aside class="col-1-2">
		<div id="dashboard"></div>
	</aside>
	
</section> <!-- Fin grid pad -->

	
	<article id="team">
		<section class="grid grid-pad">
		
		<h3>L'équipe</h3>
			
		<div class="col-1-12"></div>	
	
			<div class="col-2-12">
				<h4>A.-Sophie Valleray</h4>
				<p>Back-end developer</p>
				<div id="As"></div>
			</div>
			
			<div class="col-2-12">
				<h4>Loïc Padowski</h4>
				<p>Back-end developer</p>
				<div id="Loic"></div>
			</div>
			
			<div class="col-2-12">
				<h4>Marion Livet</h4>
				<p>Front-end developer</p>
				<div id="Marion"></div>	
			</div>
			
			<div class="col-2-12">
				<h4>Nicolas Thomas</h4>
				<p>Designer</p>
				<div id="Nico"></div>
			</div>
			
			<div class="col-2-12">
				<h4>Valentin Cervellera</h4>
				<p>Project coordinator</p>
				<div id="Val"></div>	
			</div>
			
		<div class="col-1-12"></div>
			
		</section>
	</article>
	
	
	<!-- POPUP -->
	
		
		<div class="md-modal md-effect-10" id="modal-signin">
			<div class="md-content">
				<h3>Inscrivez-vous</h3>
				<div>
					<form method="post" action="#">
						<input class="name" type="text" placeholder="Login" name="login"/>
						<input class="pw" type="password" placeholder="Mot de passe" name="password"/>
						<input class="pw" type="password" placeholder="Retapez le mot de passe" name="password_confirm"/>
						<!-- <li><a href="#">Forgot your password?</a></li> -->
						<input id="send" class="button" type="submit" value="Log in"/>
						<div style="display:none;" id="erreur"><p>Tous les champs ne sont pas remplis</p></div>
						<div style="display:none;" id="different_passwords"><p>Les mots de passe ne sont pas identiques</p></div>

					</form>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>

		<div class="md-modal md-effect-10" id="modal-login">
			<div class="md-content">
				<h3>Identifiez-vous</h3>
				<div>
					<form method="post" action="#">
						<input class="name" type="text" placeholder="Login" name="login"/>
						<input class="pw" type="password" placeholder="Mot de passe" name="password"/>
						<!-- <li><a href="#">Forgot your password?</a></li> -->
						<input class="button" type="submit" value="Log in"/>
					</form>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>
	

	
<div class="md-overlay"></div><!-- the overlay element -->

<script>
	// this is important for IEs
	var polyfilter_scriptpath = '/js/';
</script>
<script src="public/js/cssParser.js"></script>
<script src="public/js/css-filters-polyfill.js"></script>
<script src="public/js/classie.js"></script>
<script src="public/js/modalEffects.js"></script>
	
</body>

</html>
